page-home {

}
.cognizant{
	color: #54dc54;
    font-weight: bolder;
}
.client{
	color: #c7c0b1;
    font-weight: bolder;
}
.cog-lb{
	    margin: 1vh;
    width: 2vh;
    height: 2vh;
    background-color: #54dc54;
}
.cl-lb{
margin: 1vh;
    width: 2vh;
    height: 2vh;
    background-color: #c7c0b1;
}